YII_ENV=dev
YII_DEBUG=1

DOCKER_SUBNET=172.21.7.0/24
NGINX_IP=172.21.7.10
PHP_IP=172.21.7.11
QUEUE_IP=172.21.7.12
POSTGRES_IP=172.21.7.21
REDIS_IP=172.21.7.22

API_HOST=api.geolyrics.ge
BACKEND_HOST=admin.geolyrics.ge
API_URL=http://api.geolyrics.ge
BACKEND_URL=http://admin.geolyrics.ge

HTTP_PORT=80
POSTGRES_PORT=5432
REDIS_PORT=6379

DB_NAME=geolyrics
DB_USER=geolyrics
DB_PASSWORD=geolyrics

API_COOKIE_VALIDATION_KEY=change-me-api
BACKEND_COOKIE_VALIDATION_KEY=change-me-backend
API_REQUEST_JWT_SECRET=change-me-request-jwt-secret
API_REQUEST_JWT_ISSUER=geovue
API_REQUEST_JWT_AUDIENCE=geolyrics-api
USER_AUTH_JWT_SECRET=change-me-user-jwt-secret
USER_AUTH_JWT_ISSUER=geolyrics-api
USER_AUTH_JWT_AUDIENCE=geolyrics-client
USER_AUTH_ACCESS_TOKEN_TTL=900
USER_AUTH_REFRESH_TOKEN_TTL=2592000
GOOGLE_AUTH_CLIENT_IDS=996057109435-am0khajcc6fniih8a1bveqtppls7o47d.apps.googleusercontent.com

ADMIN_EMAIL=admin@geolyrics.ge
SUPPORT_EMAIL=support@geolyrics.ge
SENDER_EMAIL=noreply@geolyrics.ge
SENDER_NAME=GeoLyrics

QUEUE_CHANNEL=geolyrics.queue
STORAGE_BASE_URL=/uploads